{% for message in messages %}
    {% if message.extra_tags == "success" %}
        <div class="alert alert-success alert-dismissible">
            <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-hidden="true"
            >×</button>
            <h5>
                <i class="icon fas fa-check"></i> Success!
            </h5>
            {{ message }}
        </div>
    {% endif %}

    {% if message.extra_tags == "error" %}
        <div class="alert alert-danger alert-dismissible">
            <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-hidden="true"
            >×</button>
            <h5>
                <i class="icon fas fa-x"></i> Opppps!
            </h5>
            {{ message }}
        </div>
    {% endif %}

{% endfor %}
