{% load static %}
<aside class="main-sidebar sidebar-dark-secondary">
    <a href="index3.html" class="brand-link d-flex align-items-center">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
      <span class="brand-text font-weight-bold h5">
        LIMS Admin
      </span>
    </a>
    {% if request.user.is_superuser or request.user.is_staff %}
    <div class="sidebar">
      <div class="form-inline mt-2">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'inventory:dashboard' %}" class="nav-link {% if request.path == '/' %}bg-primary{% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item {% if request.path == '/chemicals/' or request.path == '/chemicals/category'%}menu-is-opening menu-open{% endif %}">
            <a href="#" class="nav-link {% if request.path == '/chemicals/' or request.path == '/chemicals/category' %}bg-primary{% endif %}">
              <i class="nav-icon fa-solid fa-flask-vial"></i>
              <p>
                Chemicals
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'inventory:chemicals' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Chemicals List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'inventory:request_chemicals' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Request Chemical</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'inventory:chemical_category' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Hazard Type</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item {% if request.path == '/users/' %}menu-is-opening menu-open{% endif %}">
            <a href="#" class="nav-link {% if request.path == '/users/' %}bg-primary{% endif %}">
              <i class="nav-icon fa-solid fa-users"></i>
              <p>
                Personnels
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'inventory:users' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Personnel List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'inventory:inactive_users' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inactive Users</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item  {% if request.path == '/chemicals/report' or request.path == '/equipments/report' %}menu-is-opening menu-open{% endif %}">
            <a href="#" class="nav-link {% if request.path == '/chemicals/report' or request.path == '/equipments/report' %}bg-primary{% endif %}">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'inventory:chemical_report' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Available Chemicals</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'inventory:generate_request_chemicals' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Requested Chemicals</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <i class="nav-icon fa-solid fa-user-shield"></i>
              <p>
                Super Admin
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {% else %}
    <div class="sidebar">
      <div class="form-inline mt-2">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item {% if request.path == '/chemicals/' or request.path == '/chemicals/category'%}menu-is-opening menu-open{% endif %}">
            <a href="{% url 'inventory:chemicals' %}" class="nav-link {% if request.path == '/chemicals/' or request.path == '/chemicals/category' %}bg-primary{% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Chemicals
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {% endif %}
  </aside>
