{% extends './includes/base.html' %}
{% block site_breadcrumbs %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Chemicals</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Chemicals</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <section class="col-lg-12 connectedSortable">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center w-100">
                <div>
                    <h3 class="card-title font-weight-bold">
                        Latest Equipments
                    </h3>
                </div>
                <div class="ml-auto">
                    <a href="{% url 'inventory:add_chemical' %}" class="btn btn-primary">
                        Add Chemical
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable-container" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Chemical</th>
                                <th>Composition</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Expiration Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chemical in chemicals %}
                            <tr>
                                <td>{{ chemical.name }}</td>
                                <td>{{ chemical.composition }}</td>
                                <td>{{ chemical.quantity }}</td>
                                <td>{{ chemical.chemical_category }}</td>
                                <td>{{ chemical.expiration_date }}</td>
                                <td>
                                    <a href="{% url 'inventory:update_chemical' chemical_id=chemical.id %}" class="text-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="{% url 'inventory:delete_chemical' chemical_id=chemical.id %}" class="text-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Chemical</th>
                                <th>Composition</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Expiration Date</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
