{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
       
        <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/jqvmap/jqvmap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
           {% block auth_content %}{% endblock %}
        </div>
        <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
        <script>
        $.widget.bridge('uibutton', $.ui.button)
        </script>
        <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
