{% extends './auth_base.html' %}

{% block auth_content %}
<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="/" class="h3">
            Registration
        </a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Sign up to start your session</p>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissible">
                <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-hidden="true"
                >×</button>
                <h5>
                    <i class="icon fas fa-x"></i> Opppps!
                </h5>
                {{ error }}
            </div>
            {% endfor %}
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {% for input in form %}
            <div class="input-group mb-3">
                {{ input }}
                {% if input.id_for_label == "id_username" or input.id_for_label == "id_first_name" or input.id_for_label == "id_last_name" %}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
                {% else %}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </div>
            </div>
        </form>
        <p class="mt-2">
            Already have an account? <a href="{% url 'inventory:login' %}" class="text-center">Login</a>
        </p>
    </div>
</div>
{% endblock %}
